<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header>
  <nav>
    <a href="/">Home</a>
    <a href="/zoo">Zoo</a>
    <a href="/gallery">Gallery</a>
    <a href="/tickets">Tickets</a>
    <a href="/bought-tickets">Bought Tickets</a>
    <a href="/contact">Contact</a>
  </nav>
</header>
<main>
